body {
  max-width: 1280px;
  margin: 0 auto;
  font-family: $mainFont;
}

p {
  margin-bottom: $space-m;
  font-size: 1.4rem;
}

[class*='Icon_']::before {
  font-family: myIconFont;
  font-style: normal;
  font-weight: normal;
  vertical-align: top;
}
